@font-face {
    font-family: "CircularStd-Medium", sans-serif;
    font-display: swap;
    src: url("../fonts/CircularStd-Medium.woff2") format("woff2");
    }
    
    @font-face {
    font-family: "CircularStd-Book", sans-serif;
    font-display: swap;
    src: url("../fonts/CircularStd-Book.woff2") format("woff2");
    }