//==================================== The maximum screen size
$maxWidth: 1920;

@mixin media($point) {
  @if $point==maxWidth {
    @media (min-width: $maxWidth) {
      @content;
    }
  }
}
//====================================

@mixin response-font($pcSize, $mobSize, $lineHeight) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
  line-height: $lineHeight;
  @include media(maxWidth) {
    font-size: #{$pcSize + px};
  }
}

@mixin response-font-size($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
  @include media(maxWidth) {
    font-size: #{$pcSize + px};
  }
}

//==================================== Response margin
@mixin margin-top($Max, $Min) {
  $pt: $Max - $Min;
  $maxWidth: $maxWidth - 320;
  margin-top: calc(#{$Min + px} + #{$pt} * ((100vw - 320px) / #{$maxWidth}));
  @include media(maxWidth) {
    margin-top: #{$Max + px};
  }
}

@mixin margin-right($Max, $Min) {
  $pr: $Max - $Min;
  $maxWidth: $maxWidth - 320;
  margin-right: calc(#{$Min + px} + #{$pr} * ((100vw - 320px) / #{$maxWidth}));
  @include media(maxWidth) {
    margin-right: #{$Max + px};
  }
}

@mixin margin-bottom($Max, $Min) {
  $pb: $Max - $Min;
  $maxWidth: $maxWidth - 320;
  margin-bottom: calc(#{$Min + px} + #{$pb} * ((100vw - 320px) / #{$maxWidth}));
  @include media(maxWidth) {
    margin-bottom: #{$Max + px};
  }
}

@mixin margin-left($Max, $Min) {
  $pl: $Max - $Min;
  $maxWidth: $maxWidth - 320;
  margin-left: calc(#{$Min + px} + #{$pl} * ((100vw - 320px) / #{$maxWidth}));
  @include media(maxWidth) {
    margin-left: #{$Max + px};
  }
}

@mixin response-margin($Max, $Min) {
  $pt: $Max - $Min;
  $maxWidth: $maxWidth - 320;
  margin: calc(#{$Min + px} + #{$pt} * ((100vw - 320px) / #{$maxWidth}));
  @include media(maxWidth) {
    margin: #{$Max + px};
  }
}

//==================================== Response padding
@mixin padding-top($Max, $Min) {
  $pt: $Max - $Min;
  $maxWidth: $maxWidth - 320;
  padding-top: calc(#{$Min + px} + #{$pt} * ((100vw - 320px) / #{$maxWidth}));
  @include media(maxWidth) {
    padding-top: #{$Max + px};
  }
}

@mixin padding-right($Max, $Min) {
  $pr: $Max - $Min;
  $maxWidth: $maxWidth - 320;
  padding-right: calc(#{$Min + px} + #{$pr} * ((100vw - 320px) / #{$maxWidth}));
  @include media(maxWidth) {
    padding-right: #{$Max + px};
  }
}

@mixin padding-bottom($Max, $Min) {
  $pb: $Max - $Min;
  $maxWidth: $maxWidth - 320;
  padding-bottom: calc(#{$Min + px} + #{$pb} * ((100vw - 320px) / #{$maxWidth}));
  @include media(maxWidth) {
    padding-bottom: #{$Max + px};
  }
}

@mixin padding-left($Max, $Min) {
  $pl: $Max - $Min;
  $maxWidth: $maxWidth - 320;
  padding-left: calc(#{$Min + px} + #{$pl} * ((100vw - 320px) / #{$maxWidth}));
  @include media(maxWidth) {
    padding-left: #{$Max + px};
  }
}

@mixin response-padding($Max, $Min) {
  $pt: $Max - $Min;
  $maxWidth: $maxWidth - 320;
  padding: calc(#{$Min + px} + #{$pt} * ((100vw - 320px) / #{$maxWidth}));
  @include media(maxWidth) {
    padding: #{$Max + px};
  }
}

//==================================== Response width & height
@mixin height($Max, $Min) {
  $pt: $Max - $Min;
  $maxWidth: $maxWidth - 320;
  height: calc(#{$Min + px} + #{$pt} * ((100vw - 320px) / #{$maxWidth}));
  @include media(maxWidth) {
    height: #{$Max + px};
  }
}

@mixin width($Max, $Min) {
  $pt: $Max - $Min;
  $maxWidth: $maxWidth - 320;
  width: calc(#{$Min + px} + #{$pt} * ((100vw - 320px) / #{$maxWidth}));
  @include media(maxWidth) {
    width: #{$Max + px};
  }
}

@mixin max-width($Max, $Min) {
  $pt: $Max - $Min;
  $maxWidth: $maxWidth - 320;
  max-width: calc(#{$Min + px} + #{$pt} * ((100vw - 320px) / #{$maxWidth}));
  @include media(maxWidth) {
    max-width: #{$Max + px};
  }
}