//Colors
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-steel-grey: #13181b;
  --color-dark-graphite: #222528;
  --color-ocean-green: #40cda0;
  --color-charcoal: #191b1d;
  //Opacity
  --color-white-50: rgba(255, 255, 255, 0.5);

  --circleRegular: 'font-family: "CircularStd-Regular", sans-serif';
  --circleMedium: 'font-family: "CircularStd-Medium", sans-serif';
}